*{ 
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    box-sizing: border-box;
}


.caixa {
    background: linear-gradient(90deg,  #9688e0, #eba9c2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.textArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3000px;
    height: 500px;
}


.botoes{
    align-items: center;
    justify-content: center;
    display: flex;
}

.botoes button{
    margin: 10px;
    background: #ae88e0;
    color: beige;
    box-shadow: 0 0 10px beige;

    border-radius: 10px;
    border: solid;
    border-image-slice: 5;
    box-sizing: border-box;
    border-width: 3px;
    height: 60px;
    width: 50px;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
    transition: background 1s ease, transform 1s ease;
}

.bell img{
    height: 350px; 
    width: auto; 
    animation: moveUpDown 8s linear infinite;

}

.bell a{
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: underline;
    font-size: 25px;
    height: 30px;
    color: #fff8be;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.quadradoTexto span{
    color: #3e2b6b;
    font-size: 20px;
    font-family: 'Pixelify Sans', sans-serif;

}

.botoes button:hover {
    color: rgb(255, 248, 190);
    background: linear-gradient(90deg,  #fff8be, #eba9c2);
    box-shadow: 0 0 60px #eba9c2;
    color: #ae88e0;
    transition: 300ms;
    transform: scale(1.1);
}

.quadradoTexto{
    background-color: #c3b6d4;
    height: 300px;
    width: 1200px;
    box-shadow: 0 0 20px #ffeaaf;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px;

}




.caixa h1{
    color: rgb(255, 248, 190);
    text-align: center;
    font-size: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    
} 

.rendaFixa{
    background-color: #eba9c2;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rendaFixa button{
    height: 40px;
    width: 120px;
    background-color: #eba9c200;
    margin: 0px 50px 50px 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;

    
}

.rendaFixa button:hover {
    transition: background 700ms ease, transform 700ms ease;
    transform: scale(1.30);
}

.rendaFixa button:not(:hover) {
    transition: box-shadow 700ms ease, transform 700ms ease;
    transform: scale(1);
}



.rendaFixa img{
    margin-top: 30px;
    height: 45px;
}

.LCIButtonDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.LCAButtonDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.CBDButtonDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.PoupançaButtonDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.menuRendaFixa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    background-color: #ae88e0;
}




