*{ 
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    box-sizing: border-box;
}

.caixa {
    background: linear-gradient(90deg,  #9688e0, #eba9c2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.caixaTituloLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.caixa h1{
    color: rgb(255, 248, 190);
    text-align: center;
    font-size: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    
} 

.textArea {
    padding-top: 10px;
    background-color: #ae88e0;
    box-shadow: 0 0 20px #dfafff;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.textArea button{
    height: 484px;
    width: 350px;
    background: url(logos/bell.png) no-repeat;
    border: none;
    cursor: pointer;

}

.textArea img {
    height: 484px;
    width: 350px;
    margin-left: 25px;
    background: url(logos/bell.png) no-repeat;
    animation: moveUpDown 2s linear infinite;
    transition: transform 1s ease;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}




.textArea button:hover {
    transition: 300ms;
    transform: scale(1.2);
}

.textArea button:not(:hover) {
    transition: 300ms;
    transform: scale(1);
}
.quadradoTexto span{
    color: #3e2b6b;
    font-size: 20px;
    font-family: 'Pixelify Sans', sans-serif;

}

.quadradoTexto{
    background-color: #c3b6d4;
    height: 200px;
    width: 900px;
    box-shadow: 0 0 20px #ffeaaf;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

}




.botoes { 
    background-color: #ae88e0; 
    padding: 40px;
    outline-offset: 0;
    display: flex;
    height: 190px;
    justify-content: center;
    padding-top: 60px;
}

.botoes button {
    background: #ae88e0;
    color: beige;
    box-shadow: 0 0 10px beige;

    border-radius: 30px;
    border: solid;
    border-image-slice: 5;
    box-sizing: border-box;
    border-width: 3px;
    margin-left: 100px;
    margin-right: 100px;
    height: 80px;
    width: 400px;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
    transition: background 1s ease, transform 1s ease;
}

.botoes button:hover {
    color: rgb(255, 248, 190);
    background: linear-gradient(90deg,  #fff8be, #eba9c2);
    box-shadow: 0 0 60px #eba9c2;
    color: #ae88e0;
    transition: 300ms;
    transform: scale(1.1);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }

}

.pregao {
    box-shadow: 0 0 60px #eba9c2;
    background: #eba9c2;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.propagandaPregao {
    height: 280px;
    background-color: #eba9c2;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pregao span{
    color: beige;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repositorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 410px;
    background-color: #eba9c2;
}

.repositorio img{
    box-shadow: 0 0 10px  #3e2b6b;
}

.bellRepositorio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;

    background-color: #eba9c2;
}
.bellRepositorio img{
    height: 260px;
    animation: moveUpDown 2s linear infinite;

}



.falaPropaganda{
    height:100px;
    width: 700px;
    background-color: #c3b6d4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 20px #ffeaaf;


}



.repositorio a {
    font-size: 20px;
    font-weight: bold;
    color: #3e2b6b;
    transition: 1s; 
}

.repositorio img {
    height: 200px;
    border-radius: 20px;
}

.repositorio button {
    border: none;
    background: none;
    transition: 1s;
    cursor: pointer;
}

.repositorio:hover button {
    transform: scale(1.05);
}

.repositorio:hover a {
    font-size: 27px; 
}

.logos {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Pixelify Sans', sans-serif;
    height: 60px;
    color: #fff8be;
    background: linear-gradient(90deg,  #7f78a1, #9c7687);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.carroselLogos {
    display: flex;
    flex-direction: row;
    animation: 40s slide infinite linear;
}

.alinhamento-texto {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-left: 3px solid transparent;
    border-color: #fff8be;
    margin-left: 120px;
}

.alinhamento-texto span {
    margin-left: 100px;
}

.carroselLogos img {
    width: 40px;
    margin: 30px 30px 30px;
}

.github{
    height: 280px;
    background: #c3b6d4;
    display: flex;
    align-items: center;
    justify-content: center;
}


.github button{
    position: relative;
    margin: 30px;
    height: 140px;
    border-radius: 50%;
    cursor: pointer;
    margin:40px  100px ;
    border: none;

}

.github img{
    height: 140px;
    border-radius: 50%;
}


.github button:hover {
    transition: background 700ms ease, transform 700ms ease;
    box-shadow: 0 0 40px #ffeaaf;
    transform: scale(1.30);
}

.github button:not(:hover) {
    transition: box-shadow 700ms ease, transform 700ms ease;
    transform: scale(1);
}

.colaboradores{
    box-shadow: 0 0 60px #c3b6d4;
    background: #c3b6d4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colaboradores span{
    color: beige;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colaboradores_nome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ana {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;

}
.carlos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;
}
.joao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;

}
.mariana {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;
}
