*{ 
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    box-sizing: border-box;
}


.caixa {
    background: linear-gradient(90deg,  #9688e0, #eba9c2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.caixa h1{
    color: rgb(255, 248, 190);
    text-align: center;
    font-size: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    
} 

.acoesFixas{
    background-color: #eba9c2;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acoesFixas button{
    height: 40px;
    width: 120px;
    background-color: #eba9c200;
    margin: 0px 50px 50px 50px;
    border: none;
    cursor: pointer;
    
}

.acoesFixas button:hover {
    transition: background 700ms ease, transform 700ms ease;
    transform: scale(1.30);
}

.acoesFixas img{
    height: 30px;
}

.poupanca{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;
}

.cdb{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;
}


.lci{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;
}
