*{ 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.caixa {
    background:linear-gradient(140deg,  #06af44, #179ce3);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 120px; 
}


.caixa h1{
    color:beige;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}  



.bellMascote {
    padding-top: 20px;
    background-color: #000;
    margin-bottom: 30px;
    padding-right: 320px;
    display: flex; /* Tornar o elemento um flex container */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}

.botoes{    
    background-color: #000;
    outline-offset: 0;
    display: flex;
    height: 280px;
    justify-content: center; /* Alinha horizontalmente ao centro */
}

.botoes button {
    background: #000000;
    color: beige;
    border-radius: 50px;
    border-image: linear-gradient(160deg, #c805e2, #179ce3);
    border-image-slice: 5;
    box-sizing: border-box;
    border-width: 3px;
    margin-left: 100px;
    margin-right: 100px;
    height: 80px;
    width: 400px;
    font-size: 50px;
    cursor: pointer;
    transition: background 0.5s ease, transform 0.5s ease;
}

.botoes button:hover {
    background: linear-gradient(160deg, #c805e2, #179ce3);
    
    transform: scale(1.2);
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);

    }
}

.logos{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 60px;
    background-color: #212020;
    
}


.logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
.carroselLogos{

    display: flex;
    flex-direction: row;
    animation: 40s slide infinite linear;
    
}
.alinhamento-texto {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-left: 3px solid transparent; /* Defina a borda esquerda como transparente */
    border-image: linear-gradient(140deg,  #06af44, #179ce3) 1; /* Aplica um gradiente à borda esquerda */
    margin-left: 50px;
}

.alinhamento-texto span{
        margin-left: 10px; /* Adiciona espaço entre a imagem e o texto */
    color: #00ff5f;
    
}


.carroselLogos img{
    width: 40px;
    margin: 30px 30px 30px;
}


