*{ 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.caixa {
    background: linear-gradient(140deg,  #06af44, #179ce3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 163px; 
}

.caixa img{
    height: 100px;
    border-radius: 50px;

}
.caixaTituloLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.caixa h1{
    color: beige;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    } 

.textArea {
    padding-top: 30px;
    background-color: #000;
    box-shadow: 0 0 20px #00ff5e84;
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.quadradoTexto span{
    color: antiquewhite;

}

.quadradoTexto{
    background-color: #212020;
    width: 1600px;
    height: 300px;
    box-shadow: 0 0 20px #00ff5e84;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

}

.botoes { 
    background-color: #000; 
    padding: 40px;
    outline-offset: 0;
    display: flex;
    height: 190px;
    justify-content: center;
    padding-top: 60px;
}

.botoes button {
    background: #000000;
    color: beige;
    border-radius: 50px;
    border-image: linear-gradient(160deg, #06af44, #179ce3);
    border: solid;
    border-image-slice: 5;
    box-sizing: border-box;
    border-width: 3px;
    margin-left: 100px;
    margin-right: 100px;
    height: 80px;
    width: 400px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight: bold;
    transition: background 1s ease, transform 1s ease;
}

.botoes button:hover {
    color: #000;
    background: linear-gradient(160deg, #06af44, #179ce3);
    box-shadow: 0 0 30px #00ff5f;
    transition: 300ms;
    transform: scale(1.1);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 60px;
    background-color: #212020;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.carroselLogos {
    display: flex;
    flex-direction: row;
    animation: 40s slide infinite linear;
}

.alinhamento-texto {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-left: 3px solid transparent;
    border-image: linear-gradient(140deg,  #06af44, #179ce3) 1;
    margin-left: 120px;
}

.alinhamento-texto span {
    margin-left: 100px;
    color: #00ff5f;
}

.carroselLogos img {
    width: 40px;
    margin: 30px 30px 30px;
}

.github{
    height: 280px;
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github button{
    margin: 30px;
    height: 140px;
    border-radius: 50%;
    cursor: pointer;
    margin:40px  100px ;
    border: none;

}

.github img{
    height: 140px;
    border-radius: 50%;
}


.github button:hover {
    transition: background 700ms ease, transform 700ms ease;
    box-shadow: 0 0 40px #179ce3;
    transform: scale(1.30);
}

.github button:not(:hover) {
    transition: box-shadow 700ms ease, transform 700ms ease;
    transform: scale(1);
}

.colaboradores{
    box-shadow: 0 0 20px #06d050;
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colaboradores span{
    color: beige;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colaboradores_nome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ana {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;

}
.carlos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;
}
.joao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;

}
.mariana {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    font-weight: bold;
}
